### Importación de datos

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\yeij_\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\yeij_\anaconda3\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yeij_\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\yeij_\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\yeij_\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\yeij_\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [3]:
list_completa=[tienda,tienda2,tienda3,tienda4]

In [4]:
listas=pd.concat(list_completa)

In [5]:
listas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9435 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                9435 non-null   object
 1   Categoría del Producto  9435 non-null   object
 2   Precio                  9435 non-null   float64
 3   Costo de envío          9435 non-null   float64
 4   Fecha de Compra         9435 non-null   object
 5   Vendedor                9435 non-null   object
 6   Lugar de Compra         9435 non-null   object
 7   Calificación            9435 non-null   int64
 8   Método de pago          9435 non-null   object
 9   Cantidad de cuotas      9435 non-null   int64
 10  lat                     9435 non-null   float64
 11  lon                     9435 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 958.2+ KB

# 2. Ventas por categoría

In [13]:
# 1. Calculamos la facturación por cada fila
ventas_categoria = listas.groupby('Categoría del Producto')['Precio'].sum()

In [16]:
ventas_categoria.sort_values()

Categoría del Producto
Libros                     3.769610e+07
Artículos para el hogar    5.757980e+07
Juguetes                   7.360440e+07
Deportes y diversión       1.429777e+08
Instrumentos musicales     3.487726e+08
Muebles                    7.576610e+08
Electrodomésticos          1.324751e+09
Electrónicos               1.660576e+09
Name: Precio, dtype: float64

# 3. Calificación promedio de la tienda

In [17]:
# Seleccionamos la columna 'Calificación' del DataFrame 'listas' y calculamos su promedio
promedio = listas['Calificación'].mean()

In [18]:
print(promedio)

4.014520402755696

# 4. Productos más y menos vendidos

In [20]:
mas_vendidos= listas['Producto'].value_counts()

In [23]:
print(mas_vendidos.head(10))

Producto
Mesa de noche                210
Carrito de control remoto    206
Microondas                   206
Batería                      203
Cama king                    201
Secadora de ropa             200
Modelado predictivo          200
Set de ollas                 200
Cama box                     199
Bloques de construcción      199
Name: count, dtype: int64

# 5. Envío promedio por tienda

In [24]:
# --- Cargar los datos (si es necesario) ---
# Asumo que ya tienes 'tienda', 'tienda2', 'tienda3', 'tienda4' cargados.

# --- Añadir la columna identificadora ---
tienda['Tienda_ID'] = 'Tienda 1'
tienda2['Tienda_ID'] = 'Tienda 2'
tienda3['Tienda_ID'] = 'Tienda 3'
tienda4['Tienda_ID'] = 'Tienda 4'

# --- Volver a unir todo en 'listas' ---
# Usamos ignore_index=True para que el índice se reinicie correctamente
listas = pd.concat([tienda, tienda2, tienda3, tienda4], ignore_index=True)

# --- Comprobación (opcional) ---
# Esto te mostrará cuántas filas tienes de cada tienda
print(listas['Tienda_ID'].value_counts())

Tienda_ID
Tienda 1    2359
Tienda 2    2359
Tienda 3    2359
Tienda 4    2358
Name: count, dtype: int64

In [27]:
listas.groupby('Tienda_ID')['Costo de envío'].mean()

Tienda_ID
Tienda 1    26018.609580
Tienda 2    25216.235693
Tienda 3    24805.680373
Tienda 4    23459.457167
Name: Costo de envío, dtype: float64